{% extends 'todo/main.html' %}
{% block content %}
<section class="wrapper">
    <section id="dashboard-wrapper">
        <section id="profile-edit-section" class="section1">
            <h2>Password Changed Successfully</h2>
            <p>Your password has been updated. You can continue using your account securely.</p>
        </section>
    </section>
</section>
<script>
    
    alert("Password Successfully Updated");
    window.location.href = "{% url 'dashboard' %}";
</script>
{% endblock %}