# Ignore Django migration files except __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Ignore all profile picture image files in media/profile_pics/
**/media/profile_pics/*.png
**/media/profile_pics/*.jpg
**/media/profile_pics/*.jpeg
.env

**/media/images/*.png
**/media/images/*.jpg
**/media/images/*.jpeg